
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MembershipView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><h4></h4>IGym Connect</a>
            </div>
                <div class="container-fluid navbar-right">
                    @*<button type="button" class="btn btn-link"  data-toggle="modal" data-target="#member" >
                        Member
                    </button>*@
                    @*<button type="button" class="btn btn-link" data-toggle="modal" data-target="#membership" >
                        Membership Type
                    </button>*@
                    @*<button type="button" class="btn btn-link" data-toggle="modal" data-target="#employee">
                        Employee
                    </button>*@
                </div>
            </div>
        </nav>
     
    <div class="container">
        <div class="clearfix"></div>
        <fieldset>
            <legend>Membership</legend>
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-3  dashboard-icon col-sm-3">
                        <span class="glyphicon glyphicon-user"></span>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#member">
                            Member
                        </button>
                    </div>
                    <div class="col-md-3  dashboard-icon col-sm-3">
                        <span class="glyphicon glyphicon-user"></span>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#membership">
                            Membership Type
                        </button>
                    </div>
                    <div class="col-md-3  dashboard-icon col-sm-3">
                        <span class="glyphicon glyphicon-user"></span>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#employee">
                            Employee
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
   </div>



                    <!--Member-->
                    @{ Html.RenderAction("GetMember", "MamberShip");}

                    <!--Membership-->
                    @{Html.RenderAction("GetMembership", "MamberShip");}

                    <!--Employee-->
                    @{Html.RenderAction("GetEmployee", "MamberShip");}



</body>
</html>


<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>

<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>

