
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MembershipView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="page-header " text-center">
        <h1 class="text-center">Welcome to iGymConnect</h1>
    </div>
    <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <button type="button" class="btn btn-group btn-primary" data-toggle="modal" data-target="#member" style="width:32%">
                        Member
                    </button>
                    <button type="button" class="btn btn-group btn-primary" data-toggle="modal" data-target="#membership" style="width:33%">
                        Membership Type
                    </button>
                    <button type="button" class="btn btn-group btn-primary" data-toggle="modal" data-target="#employee" style="width:33%">
                        Employee
                    </button>
                </div>

            </nav>

            <!--Member-->
            @{ Html.RenderAction("GetMember", "MamberShip");}

            <!--Membership-->
            @{Html.RenderAction("GetMembership", "MamberShip");}

            <!--Employee-->
            @{Html.RenderAction("GetEmployee", "MamberShip");}
      
</body>
</html>


<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>

<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>

