
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MembershipView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="col-sm-2 col-md-4">
        <img src="~/Images/muserpng.png" height="100" width="100" />
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#member">
            <h4>Member</h4>
        </button>
    </div>
    <div class="col-sm-2 col-md-4">
        <img src="~/Images/muserpng.png" height="100" width="100" />
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#membership">
            <h4>Membership Type</h4>
        </button>
    </div>
    <div class="col-sm-2 col-md-3">
        <img src="~/Images/muserpng.png" height="100" width="100" />
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#employee">
            <h4>Employee</h4>
        </button>
    </div>

     
  


    <!--Member-->
    @{ Html.RenderAction("GetMember", "MamberShip");}

    <!--Membership-->
    @{Html.RenderAction("GetMembership", "MamberShip");}

    <!--Employee-->
    @{Html.RenderAction("GetEmployee", "MamberShip");}
    
    <!--UserDetail-->
    @{ Html.RenderAction("GetUserDetail", "Dashboard");}

    <!--Change Passowrd-->
    @{ Html.RenderAction("Changepwd", "Dashboard");}



    
</body>
</html>


<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>

<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>

