@model List<BusinessLogic.ObjectModel.OMUser>
@{
    var user = (BusinessLogic.ObjectModel.OMUser)Session["user_login"];
}


<div id="Changepwd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Change Password</h1>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">User Name:</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="txtUnm" value="@(""+ user.username )">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Old Password</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtOldPwd" placeholder="Enter Old Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="txtNewPwd" placeholder="Enter New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtCPwd" placeholder="Confirm Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnAdd">Edit</button>
                <button type="button" class="btn btn-default " data-dismiss="modal" id="btnClr">Cancel</button>
            </div>
        </div>
    </div>
</div> 

<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>

<script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>